*{
    list-style: none!important;
    font-family: 'Neo Sans Arabic', sans-serif;
}

.data .vectortop{
    top: -17px;
    right: -25px;
    }
    .data .vectorbottom{
    bottom: -19px;
    right: 324px;
    }
.container{
    max-width: 1450px!important;
    margin-top: 30px;
}
.data h3{
    font-weight: 500;
    font-size: 23px;
    line-height: 21px;
}
.data{
    margin-bottom: 70px;
}
.descraption p{
color: #6B7280;
margin: 0px !important;
font-size: 14px;
}
.descraption input{
    margin-top: 10px;
    width: 40%;
    background-color: #e5e0e0;
    border: 1px solid #00000023;
}
.descraption input:focus{
    box-shadow: none!important;
}
.descraption input::placeholder{
color: #989797;
font-size: 14px;

}
.housedesc p{
    font-size: 15px;
color: #6B7280;
margin-bottom: 8px !important;
}
.housedesc{
    margin-top: 20px;
}

.textarea{
    border-radius: 5px;
    padding: 7px;
    border: 1px solid #00000023;
}

.textarea ul{
    padding-right: 10px!important;
    
}
.textarea ul li{
    margin-right: 10px;
    color:#334155;
    
}
.textarea ul li img{
width: 110%;    
}
.textarea textarea{
    width: 100%;               
    height: 270px;              
    padding: 10px;             
    border: none;    
    font-size: 18px;          
    color: #2A3547;                
    resize: none;               
}

.textarea textarea:focus{
    outline: none; 

}
.button button{
    color:#ffffff;
    width: 220px;
    background-color: #3E97FF;
    box-shadow: 0px -2px 21.1px 0px #4FA0FF66;


}
.button button:hover{
    background-color: #2871c4;

}
.button{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note{
font-size: 14px;
color: #9CA3AF;


}

.data2 p{
font-size: 14px;
color: #A5A7AB;
}
.data2 h3{
    font-size: 23px;
}

.hoseDesign p{
font-size: 16px;
color: #615E83;
}
.radio{
    margin-top: 10px;
}
.viewHouse p{
font-size: 16px;
color: #615E83;
}

.house .subject p{
    color: #1C1C28;
}
.house .subject p span{
    color: #8A8EA1;
}

.section2 .housedesc .textarea{
    width: 100%;               
    height: 270px;  
}

.line{
    background-color: #3E97FF;
position: absolute;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
bottom: 0;
    width: 40%;
    height: 10px;
    animation: increaseWidthline1 0.5s forwards;

}
.linesection2{
    background-color: #3E97FF;
    position: absolute;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    bottom: 0;
    width: 60%;
    height: 10px; 
    animation: increaseWidthline2 0.5s forwards;

    
}
.back{
    cursor: pointer;
}
.backhover{
    width: 380px;
    padding: 30px;
    position: absolute;
    top: 50px;
    right: 50px;
    border: 1px solid #0000002c;
    border-radius: 20px;
    transition: 0.5s;
    z-index: 9999;
    background-color: #a5a7ab;

}
.exit{
    transform: scale(1.3);
}

@keyframes increaseWidthline1 {
    from {
      width: 40%; 
    }
    to {
      width: 60%; 
    }
  }
@keyframes increaseWidthline2 {
    from {
      width: 60%; 
    }
    to {
      width: 80%; 
    }
  }

  @media (max-width: 1020.98px) {
    .descraption input{
        width: 60%;
    }
    }
  @media (max-width: 617.98px) {
    .descraption input{
        width: 80%;
    }
    }